ion-content{
    --background:#f5f5f3;
    font-size:62.5%;
    .title-container{
        display: flex;
        height: 20em;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    .title{
        font-size: 3.2em;
        font-weight: 700;
        color:#1F35CB; 

    }
    .form-container{
        padding: 0 15%;
    }
    .button-submit{
        margin-top: 10%;
        height: 48px;
        width: 200px;
        font-size: 18px;
        font-weight: 400;
        text-transform: initial;
        border-radius: 50px;
        box-shadow:1px 8px 8px 0px rgba(0,0,0,0.5);
        --box-shadow:none;
        text-align: center;
        margin: 10px auto;
    }
    .input-label{
        background-color:white;
        border-style: solid;
        border-color: transparent;
        border-radius: 50px;
        margin-top:10px; 
        font-size: 20px;
        box-shadow:1px 8px 8px 0px rgba(0,0,0,0.05);
        --box-shadow:none; 
        // text-align: center;  
        img{
            height: 30px;
            width: 25px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}