<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="title-container">
    <span class="title">Cambiar Contraseña</span>
  </div>
  <div class="form-container">
    <form (ngSubmit)="onChange()"[formGroup]="formPassword">
        <ion-input class = "input-label"  type ="password" name="password" formControlName="currentPassword" required placeholder="Contraseña actual">
          <img src="./../../../assets/icon/password2.svg" alt="Icono de contraseña">
        </ion-input>
        <ion-input class = "input-label"  type ="password" name="password"formControlName="newPassword" required placeholder=" Nueva Contraseña">
          <img src="./../../../assets/icon/password2.svg" alt="Icono de contraseña">
        </ion-input>
        <span style="color: #DC1735; font-size: 15px;" *ngIf="passwordCheck()"> Las contraseñas no coinciden</span>
        <ion-input class = "input-label" [ngClass]="{'invalid-input':validInput}" type ="password" name="password" formControlName="newConfirmPassword" required placeholder="Confirmar Contraseña">
          <img src="./../../../assets/icon/password2.svg" alt="Icono de contraseña">
        </ion-input>
        <span style="color: #DC1735; font-size: 15px;" *ngIf="passwordCheck()"> Las contraseñas no coinciden</span>
        <ion-button type="submit" [disabled]="!formPassword.valid" class="button-submit" expand="block" shape ="round">Guardar cambios</ion-button>
    </form>
  </div>
</ion-content>