ion-toolbar{
    --background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252,1) 100%);
    color: whitesmoke;

    ion-title{
        text-align: center;
    }
}

ion-content{
    --background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252,1) 100%);;
    margin-top: 0;
    .container{
        height: 1fr;
        margin-top: 10%;
        background-color:#FFFCFC;
        border-radius: 0 130px 0 0;
    }
    .icon-close{
        position: relative;
        top:30px;
        left: 375px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 30px;
        padding-top: 30px;
        p{
            font-size: 35px;
            line-height: 4px;
            font-weight: 900;
            text-align: left;
        }
        span{
            font-size: 40px;
            font-weight: 900;
            color:#3147F1;
        }
    }
    
    ion-icon {
        font-size: 88px;
        --ionicon-stroke-width: 20px;
        margin-bottom: 40px;
        color:#4824CD;
    }
    .form-container{
        display: flex;
        margin-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: center;
    }
    .input-label{
        background-color:white;
        border-style: solid;
        border-color: transparent;
        border-radius: 50px;
        margin-top:10px; 
        font-size: 20px;
        box-shadow:1px 8px 8px 0px rgba(0,0,0,0.05);
        --box-shadow:none;
        img{
            height: 30px;
            width: 25px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .button-submit{
        margin-top: 30px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow:1px 8px 8px 0px rgba(0,0,0,0.5);
        --box-shadow:none;
        margin-bottom: 5px;
    }
    .container-login{
        text-align: center;
        font-weight: 900;
        font-size: 15px;
        span{
            color:#3147F1;
        }
    }
}