<!-- <ion-header>
  <ion-toolbar>
    <ion-title >Sign Up</ion-title>
    <ion-buttons slot="start"  >
      <ion-button color = "dark" [routerLink]="['/home']" routerLinkActive="router-link-active" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    <div class="header">
      <p>Crea tu <span>cuenta</span></p>
      <p><span>Inicia</span> a</p>
      <p>Comprar <span>ahora</span></p>
    </div>
    <div class="form-container">
      <form >
        <ion-input class = "input-label"  type ="text"  placeholder="Nombre">
          <img src="./../../../assets/icon/person.svg" alt="Icono de persona ">
        </ion-input>
        <ion-input class = "input-label"  type ="text"  placeholder="Apellido">
          <img src="./../../../assets/icon/person.svg" alt="Icono de persona ">
        </ion-input>
        <ion-input class = "input-label"  type ="text"  placeholder="Nombre de Usuario">
          <img src="./../../../assets/icon/person.svg" alt="Icono de persona ">
        </ion-input>
        <ion-input class = "input-label"  type ="text"  placeholder="Dirección">
          <img src="./../../../assets/icon/address.svg" alt="Icono de direccion">
        </ion-input>
        <ion-input class = "input-label"  type ="email"  placeholder="Email">
          <img src="./../../../assets/icon/email.svg" alt="Icono de Email">
        </ion-input>
        <ion-input class = "input-label"  type ="password" placeholder="Contraseña">
          <img src="./../../../assets/icon/password2.svg" alt="Icono de contraseña">
        </ion-input>
        <ion-input class = "input-label"  type ="password" placeholder=" Confirmar contraseña">
          <img src="./../../../assets/icon/password2.svg" alt="Icono de contraseña ">
        </ion-input>
        <ion-input class = "input-label"  type ="password" placeholder=" Tipo de usuario">
          <img src="./../../../assets/icon/person.svg" alt="Icono de persona ">
        </ion-input>
        <ion-button class="button-submit" expand="block" shape ="round">Registrarme</ion-button>
        <div class="container-login">
          <p id="text-login">¿Ya tienes una cuenta?<span id="link-login" [routerLink]="['/login']" routerLinkActive="router-link-active" >Inicia sesion</span></p>
        </div>
      </form>
    </div>
  </div>
</ion-content>