.profile-img{
    margin:10% auto;
    height: 25%;
    width: 40%;
}

.input-label{
    margin: auto;
    border-bottom: 0.5px solid;
}
.form-container{
    display: flex;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.buttons{
    height: 250px;
}
.button-submit{
    width:80%;
    height: 15%;
    margin: 20px auto;
}